@* Generator: Template TypeVisibility: Internal *@<!DOCTYPE html>
@using StackExchange.Exceptional
@inherits RazorPageBase
@{ var log = ErrorStore.Default; }
@functions
{
    public string PageTitle { get; set; }
    public Error Error { get; set; }
}
<html>
    <head>
        <title>@PageTitle</title>
        <link rel="stylesheet" type="text/css" href="@Url("css")" />
        @foreach(var css in ErrorStore.CSSIncludes)
        {
        <link rel="stylesheet" type="text/css" href="@css" />
        }
        @if(Error != null)
        {
        <script>var Exception = @Html(Error.ToDetailedJson());</script>
        }
        <!--[if lt IE 9]><script src="@Url("html5shiv")"></script><![endif]-->
        <script src="@ErrorStore.jQueryURL"></script>
        <script src="@Url("js")"></script>
        <script>var baseUrl = '@Url("")';</script>
        @foreach(var js in ErrorStore.JSIncludes)
        {
        <script src="@js"></script>
        }
    </head>
    <body>
        <div id="top-header" class="@(ErrorStore.Default.InFailureMode ? "failure" : "")">
            <div class="top-label">Exceptions Log: @Settings.Current.ApplicationName</div>
        </div>
        <section id="content">
        @RenderBody()
        </section>
        <footer>
            <div class="version-info">
                Exceptional @System.Reflection.Assembly.GetExecutingAssembly().GetName().Version<br/>
                @log.Name
            </div>
            <div class="server-time">Server time is @DateTime.Now</div>
        </footer>
    </body>
</html>